* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1vh 1vw;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 100%;
    padding: 1lh;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    top: -0.75lh;
    min-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

figure > * {
    padding: 0.5lh;
}

figure > p {
    padding-top: 1.5lh;
}

@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 996px) {
    .card {
        flex: 0 0 33%;
    }
}


/* region Delete these */

header, main, footer {
    border: dotted dodgerblue 0.5px;
}

figure, figcaption, pre {
    border: dotted darkred 0.5px;
}

/* endregion Delete these */
