* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1vh 1vw;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 100%;
    padding: 2lh 1vw;
}

figure {
    position: relative;
    border: dashed black 3px;
}

figcaption {
    position: absolute;
    top: -1lh;
    min-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    border: solid black 1px;
    border-radius: 8px;
}

figure > * {
    padding: 0.5lh;
}

figure > p {
    padding-top: 1.5lh;
}

pre {
    font-family: monospace;
    font-size: 125%;
    padding: 1lh;
    border-radius: 8px;
    background: gainsboro;
    margin: 1vw;
}

@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 996px) {
    .card {
        flex: 0 0 33%;
    }
}

